* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
	line-height: 1.6;
}


/*HEADER*/

header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	z-index: 1000;

	height: 75px;
	background: #3D3D3D;
}

header ul {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-right: 70px;
}

header ul li {
	list-style: none;
	margin-left: 20px;
}

header ul li a {
	text-decoration: none;
	padding: 6px 15px;
	color: #fff;
	border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
	background: #fff;
	color: #3d3d3d;
}


#small_logo {
	height: 60px;

	margin-top: 7px;
	margin-left: 70px;
}



/*SUB-HEADER*/

#cont {
	display: flex;
	justify-content: space-between;
	position: relative;
	flex-wrap: nowrap;

	left: 0;

	background: rgb(201, 201, 201);

	z-index: -1;

	height: 500px;
}

#sidetext {
	padding-left: 10%;
	width: 50%;

	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: flex-start;
}

#description {
	padding-bottom: 20px;
}

#pic_cont {
	display: flex;
	width: 100%;
}

#pic {
	width: 300px;
}

#logo {
	display: grid;
	justify-content: center;
	align-items: center;
	margin-right: 10%;
}

#matrix {
	height: 400px;

	grid-column: 1;
	grid-row: 1;

	z-index: 10000;
}

#cog {
	height: 370px;

	grid-column: 1;
	grid-row: 1;

	margin-top: 15px;

	animation: Rotation 30s linear 0s infinite;

	z-index: 1;
}

#welcome {
	display: inline-flex;
	justify-content: center;

	font-weight: bold;
	font-size: 30px;
	color: #3d3d3d;

	position: relative;

	z-index: 3;
}

/*-------------------- 	BUTTON --------------------*/

#btncont {
	display: flex;
	list-style: none;
	background: rgb(201, 201, 201);
	justify-content: center;
}

#moreinfo {
	text-decoration: none;
	padding: 6px 15px;
	border-radius: 20px;
	color: #3d3d3d;
}

#moreinfo:hover,
#moreinfo.active {
	cursor: pointer;
	background: #fff;
}


/*-------------------- TEXT --------------------*/

#text {
	height: 100px;
	background: linear-gradient(to bottom,#c9c9c9, transparent);
}

section {
	padding-bottom: 200px;
	margin-left: 10%;
	margin-right: 10%;
}



/*-------------------- ANIMATIONS --------------------*/

@keyframes Rotation {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

/*------------------- NEWSBAR -------------------*/
.newsbar {
	display: flex;

	margin-right: 70px;
	padding-left: 10%;
	width: 50%;

	flex-direction: row;
}
